<!DOCTYPE html>
<html lang="ja">
<head><meta charset="UTF-8"><title>最終課題メニュー</title></head>
<body>
    <h1>Webプログラミング 最終課題システム</h1>
    <ul>
        <li><a href="/baseball">⚾ プロ野球選手管理</a></li>
        <li><a href="/movies">🎬 映画情報管理</a></li>
        <li><a href="/history">📜 日本史出来事管理</a></li>
    </ul>
</body>
</html>